

.mareas{
    max-width: 500px;
    margin: 15px auto;
    margin-top: 30px;
}

.mareas__titulo{
    font-size: 1.1rem;
    color: #fff;
    margin-bottom: 15px;
}

.portos__container{
    display: flex;
    align-items: center;
    gap: 20px;
    
}


.mareas__boton{
    height: 50px;
    width: 100px;
    border: 3px solid #fff;
    color: #ffffff;
    background-color: transparent;
    border-radius: 10px;
    font-size: 1.2rem;
}

.mareas__box{
    display: flex;
    justify-content: center;
}

.mareas__table{
    padding: 15px;
    border-radius: 10px;
}

.mareas__table td{
    width: 100px;
    text-align: center;
}

.mareas__texto{
    font-size: 1rem;
    font-weight: 500;
}

.portos__select{
    height: 50px;
    max-width:300px ;
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid #fff;
    padding: 0 20px;
    color: #fff;
    font-size: 1.2rem;
}

.portos__option{
    font-size: 1.2rem;
    color: #000;
    background-color: transparent;
    border: 3px solid #fff;
}


.mareas__fondo{
    background-color: aliceblue;
    max-width: 350px;
}

.mareas__container{
    position: relative;
}

.mareas__cerrar{
    border: none;
    font-size: 30px;
    color: #0000008e;
    background-color: transparent;
    position: absolute;
    top: 5px;
    left: 320px;
}

.ocultar{
    display: none;
}
